*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
    /* backdrop-filter: blur(10px); */
}
#modal{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-box{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    
}
.modal-header{
    padding: .7rem;
    background-color: #aaa;
    border-bottom: 1px solid #888;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-body input{
    outline: none;
    border-radius: .2rem;
    border: none;
    background-color: #eee;
    width: 270px;
    padding: .4rem;
    margin-bottom: 1rem;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
}
.modal-body button{
    font-size: 20px;
    border: none;
    width: 270px;
    padding: .8rem;
    background-color: rgba(111, 184, 104, 0.747);
    border-radius: .4rem;
    transition: .2s;
    cursor: pointer;
}
.modal-body button:hover{
    background-color: rgb(111, 184, 104);
}